{% extends 'base.html.twig' %}

{% block title %}CV | {{ parent() }}{% endblock %}

{% block header_style %}background-image: url({{ asset('bootstrap-clean-blog/img/about-bg.jpg') }}{% endblock %}

{% block body %}

    <h2><span style="color:#CE6702">StadLine</span> <a href="http://www.stadline.com" class="fa fa-link" target="_blank"></a></h2>
    <h4>depuis novembre 2017</h4>

    <section class="job">
        <h3><span class="glyphicon glyphicon-pushpin"></span> Lead developer</h3>

        <ul class="description">
            <li>Participation à l'architecture des produits.</li>
            <li>Rédaction des spécifications techniques et fonctionnelles.</li>
            <li>Développement des fonctionnalités.</li>
            <li>Encadrer et former les développeurs.</li>
            <li>Compétences :
                <ul>
                    <li>PHP, Symfony, API-Platform</li>
                    <li>MySQL.</li>
                    <li>RabbitMQ.</li>
                    <li>PHPUnit, Behat.</li>
                    <li>Linux, Nginx, REST, Micro-services, Docker.</li>
                    <li>Git</li>
                </ul>
            </li>
        </ul>
    </section>

    <hr>

    <h2><span style="color:#000">Sensio</span><span style="color:#82E83F">Labs</span> <a href="http://www.sensiolabs.com" class="fa fa-link" target="_blank"></a></h2>
    <h4>de septembre 2014 à octobre 2017</h4>

    <section class="job">
        <h3><span class="glyphicon glyphicon-pushpin"></span> Formateur Symfony</h3>
        <h4>depuis septembre 2015</h4>
        <ul class="description">
            <li>L'argus, Ville du Havre, Pictime, gfi, Ankama</li>
        </ul>
    </section>

    <section class="job">
        <h3><span class="glyphicon glyphicon-pushpin"></span> Lead developer <i class="fa fa-at"></i> <span style="color: #EE0A0E">Auchan Retail France</span> <a href="http://www.auchan.fr" class="fa fa-link"  target="_blank"></a></h3>
        <h4>depuis mai 2015</h4>
        <ul class="description">
            <li>Refonte du back office des sites e-commerces.</li>
            <li>Membre de la communauté d'expertise technique du centre de développement back office.</li>
            <li>Compétences :
                <ul>
                    <li>PHP, Symfony, Javascript, ReactJs, CSS, Bootstrap.</li>
                    <li>MariaDB.</li>
                    <li>Redis, ActiveMQ.</li>
                    <li>PHPUnit, Behat.</li>
                    <li>Linux, Apache, REST, Micro-services, Docker.</li>
                    <li>Git</li>
                </ul>
            </li>
        </ul>
    </section>

    <section class="job">
        <h3><span class="glyphicon glyphicon-pushpin"></span> Développeur Web <i class="fa fa-at"></i> <span style="color:#EE5F53">Les-Tilleuls.coop</span> <a href="https://les-tilleuls.coop" class="fa fa-link" target="_blank"></a></h3>
        <h4>avril 2015</h4>
        <ul class="description">
            <li>Création d'un espace utilisateur pour une société d'auto partage.</li>
            <li>Compétences :
                <ul>
                    <li>PHP, Symfony, Javascript, AngularJs.</li>
                    <li>MySQL.</li>
                    <li>Linux, Apache, REST.</li>
                    <li>Git</li>
                </ul>
            </li>
        </ul>
    </section>

    <section class="job">
        <h3><span class="glyphicon glyphicon-pushpin"></span> Développeur Web <i class="fa fa-at"></i> <span style="color: #F49619">Keyneosoft</span> <a href="http://www.keyneosoft.com" class="fa fa-link" target="_blank"></a></h3>
        <h4>de octobre 2014 à mars 2015</h4>
        <ul class="description">
            <li>Réalisation d'un Extranet pour une société proposant des logements.</li>
            <li>Compétences :
                <ul>
                    <li>PHP, Symfony, Javascript, JQuery, CSS, Bootstrap.</li>
                    <li>Oracle.</li>
                    <li>Redis, RabbitMQ.</li>
                    <li>PHPUnit.</li>
                    <li>Linux, Apache, REST.</li>
                    <li>Git</li>
                </ul>
            </li>
        </ul>
    </section>

    <hr>

    <h2><span style="color:#4A575F">gfi</span> <a href="http://www.gfi.fr" class="fa fa-link"></a></h2>
    <h4>de août 2007 à septembre 2014</h4>

    <section class="job">
        <h3><span class="glyphicon glyphicon-pushpin"></span> Analyste <i class="fa fa-at"></i> <span style="color: #F4791F">Orange</span> <a href="http://www.orange.fr" class="fa fa-link" target="_blank"></a></h3>
        <h4>de août 2012 à septembre 2014</h4>
        <ul class="description">
            <li>Référent technique dans le cadre de migrations techniques.</li>
            <li>Mise en place de bonnes pratiques et méthologies.</li>
            <li>Compétences :
                <ul>
                    <li>PHP, Zend Framework, Javascript, JQuery, CSS.</li>
                    <li>MySQL, PostgreSQL, Oracle.</li>
                    <li>Linux, Apache.</li>
                    <li>SVN</li>
                </ul>
            </li>
        </ul>
    </section>


    <section class="job">
        <h3><span class="glyphicon glyphicon-pushpin"></span> Ingénieur développement <i class="fa fa-at"></i> <span style="color: #F4791F">Orange</span> <a href="http://www.orange.fr" class="fa fa-link" target="_blank"></a></h3>
        <h4>de août 2007 à août 2012</h4>
        <ul class="description">
            <li>Référent dans une TMA.</li>
            <li>Compétences :
                <ul>
                    <li>PHP, Zend Framework, Javascript, JQuery, CSS.</li>
                    <li>MySQL, PostgreSQL, Oracle.</li>
                    <li>Linux, Apache, SOAP.</li>
                    <li>CVS, SVN</li>
                </ul>
            </li>
        </ul>
    </section>

    <hr>

    <h2><span style="color:#4A89DC">Asinas</span></h2>
    <h4>de août 2006 à août 2007</h4>

    <section class="job">
        <h3><span class="glyphicon glyphicon-pushpin"></span> Analyste programmeur</h3>
        <ul class="description">
            <li>Création d’un logiciel web facilitant l'organisation, la gestion RH et financière des activités scolaires et péri scolaires d'un établissement.</li>
            <li>Compétences :
                <ul>
                    <li>DHTML, CSS, PHP, Javascript.</li>
                    <li>MySQL.</li>
                    <li>Windows, Apache.</li>
                </ul>
            </li>
        </ul>
    </section>

    <hr>

    <h2>Certifications</h2>

    <section class="job">
        <h3><span class="glyphicon glyphicon-pushpin"></span> SensioLabs Certified Symfony Developer</h3>
    </section>

    <section class="job">
        <h3><span class="glyphicon glyphicon-pushpin"></span> SensioLabs Certified Twig Designer</h3>
    </section>

    <hr>

    <h2>Compétences</h2>
    <img src="{{ asset('app/cloud.png') }}" width="500px" />

{% endblock %}
