{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oops</h1>

    <p>
        Il y a un petit souci mais ne vous inquiétez pas vous pouvez continuer à naviguer sur le site ;)
    </p>
{% endblock %}