<html>
<head>
    <meta charset="utf-8">
    <style>
        .div30 {
            float:left;
            width: 30%;
        }
        .div50 {
            float:left;
            width: 50%;
        }
        .div70 {
            float:left;
            width: 70%;
        }
        .clear {
            clear: both;
        }
        body {
            font-size: 120%;
        }
    </style>
</head>
<body>

{% block body %}{% endblock %}

<br/><br/>

<footer>
    <p>
        Merci de votre confiance.
    </p>
    <p>
        Tous les prix sont en euros (€).<br/>
        TVA non applicable, article 293 B du CGI.
    </p>
</footer>
</body>
</html>
