{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - Créer une facture{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_bill_list') }}">Liste des factures</a>

    <h2>Créer une facture</h2>

    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            new EstimateEdit(
                $('.collection'),
                'bill_lines',
                $('.glyphicon-plus'),
                $('.glyphicon-trash'),
                $('.collection-quantity'),
                $('.collection-unit-price'),
                $('.collection-total'),
                $('#order_total')
            );
        });
    </script>
{% endblock %}
