<div class="col-md-12">
    <div class="col-md-5">
        {{ form_row(form.title) }}
    </div>
    <div class="col-md-2 collection-quantity">
        {{ form_row(form.quantity) }}
    </div>
    <div class="col-md-2 collection-unit-price">
        {{ form_row(form.unitPrice) }}
    </div>
    <div class="col-md-2 collection-total">
        {{ form_row(form.total) }}
    </div>
    <div class="col-md-1 collection-actions">
        <a href="#" rel="#" title="Supprimer"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
    <div class="clear"></div>
</div>
