{% if page > 1 %}
    <li class="previous">
        <a href="{{ previousUrl }}">&larr; Articles plus récents </a>
    </li>
{% endif %}

{% if page < nbPages %}
    <li class="next">
        <a href="{{ nextUrl }}">Articles plus anciens &rarr;</a>
    </li>
{% endif %}
