{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - Changer le mot de passe{% endblock %}

{% block body %}
    <h2>Changer le mot de passe</h2>

    {{ form(form) }}
{% endblock %}
