{% extends 'base.html.twig' %}

{% block title %}Services | {{ parent() }}{% endblock %}

{% block header_style %}background-image: url({{ asset('bootstrap-clean-blog/img/about-bg.jpg') }}{% endblock %}

{% block body %}
    <h2>Contact</h2>


{% endblock %}
