{% extends 'base.html.twig' %}

{% block title %}Contactez-moi | {{ parent() }}{% endblock %}

{% block header_style %}background-image: url({{ asset('bootstrap-clean-blog/img/about-bg.jpg') }}{% endblock %}

{% block body %}
    <h2>Services</h2>
    {{ form(form) }}
{% endblock %}
