{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - Modifier un article{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_post_list') }}">Liste des articles</a>

    <h2>Modifier un article</h2>

    {{ form(form) }}
{% endblock %}
