{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - Modifier un client{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_customer_list') }}">Liste des clients</a>

    <h2>Modifier un client</h2>

    {{ form(form) }}
{% endblock %}
