{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - Créer un tag{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_tag_list') }}">Liste des tags</a>

    <h2>Créer un tag</h2>

    {{ form(form) }}
{% endblock %}
